<h2>Recuperar Contraseña</h2>

<form action="" id="forgotPassForm">
    <label for="">Correo</label>
    <input type="email" name="email">

    <label for="">Contraseña</label>
    <input type="password" name="password">

    <button type="submit">Crear nueva contraseña</button>
</form>
<br>
<a href="login">
    <button type="submit">Volver</button>
</a>

<script src="/js/forgotPass.js "></script>