<h2>Login</h2>

<form action="" id="loginForm">
    <label for="">Usuario</label>
    <input type="email" name="email">

    <label for="">Password</label>
    <input type="password" name="password">

    <button type="submit">Iniciar Sesion</button>
</form>
<br>
<a href="forgotPass">
    <button type="submit">Restaurar contraseña</button>
</a>
<br><br><br>
<div>
    <a href="auth/github">
    <button>Ingresar con GitHub</button></a>
</div>
<br><br><br>
<a href="/">
    <button type="submit">Ver Perfil</button>
</a>

<script src="/js/login.js"></script>